@model HolidayPartyRSVP.Models.DishOptions
@{
    ViewData["Title"] = "DishConfirm55";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DishConfirm</h1>

@Model.Name are confirmed to bring @Model.DishName, which you've described as: @Model.DishDescription

