@model HolidayPartyRSVP.Models.Reserve
@{
    ViewData["Title"] = "ReserveConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.FirstName @Model.LastName, your  Reservation is Confirmed</h1>

